# Force correct language detection
*.js linguist-language=JavaScript
*.jsx linguist-language=JavaScript
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript

# Ignore these languages from stats
*.py linguist-language=ignore
*.ipynb linguist-language=ignore
*.c linguist-language=ignore
*.cpp linguist-language=ignore
*.cy linguist-language=ignore
*.f90 linguist-language=ignore
